.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(32, 32, 31);
  color: rgb(220, 231, 231);


}

#logout {
  display: flex;
  align-items: center;
}

#logout i {
  margin-left: 10px;
}
